* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Karla, sans-serif;
  color: #293264;
  background-color: #f5f7fb;
}

body * {
  margin: 0;
}

.intro {
  margin-top: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro--titulo {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.intro--descripcion {
  font-family: Inter, sans-serif;
  margin-bottom: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.intro--boton {
  font-family: Inter, sans-serif;
  background-color: #4d5b9e;
  color: #f5f7fb;
  width: 14rem;
  height: 3rem;
  font-size: 1.45rem;
  border: transparent;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.bubble-container-sd {
  position: absolute;
  top: 0;
  right: 0;
}

.bubble-container-ii {
  position: absolute;
  bottom: 0;
  left: 0;  
}

.preguntas {
  padding: 2rem 8rem;
}

.pregunta {
  text-align: justify;
}

.pregunta--enunciado {
  margin-bottom: 0.75rem;
  margin-top: 0.9rem;
}

.pregunta--opciones {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  padding-bottom: 1rem;
  border-bottom: 0.79px solid #dbdef0;
  flex-wrap: wrap;
}

.pregunta--opcion {
  font-family: Inter, sans-serif;
  border: 0.79px solid #4d5b9e;
  padding: 0.25rem 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pregunta--opcion-seleccionada {
  background-color: #d6dbf5;
  border: transparent;
}

.preguntas--container-boton{
  padding: 1.25rem 0rem;
  display: flex;
  justify-content: center;
}

.preguntas--boton{
  font-family: Inter, sans-serif;
  background-color: #4d5b9e;
  color: #f5f7fb;
  height: 2.2rem;
  font-size: 1rem;
  border: transparent;
  border-radius: 0.6rem;
  font-weight: 600;
  cursor: pointer;
  
}
