/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 8px teal;
}

.navImage{
  width: 40px;
}

.nav-items{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.mainContent{
  background-color: azure;
  padding-bottom: 1rem;
}

.mainContent >h1{
  text-align: center;
}

.footer{
  text-align: center;
  background-color: cadetblue;
  padding-bottom: 0.5rem;
  color: white;  
}
*/

/*Inicio estilos proyecto 1 */

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Inter,sans-serif;
  height: 100vh;
}

.navBarP1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #21222A;
  align-items: center;
  height: 90px;
}

.nav--icon-and-image-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
  color: #5fd9f9;
}

.nav--icon{
  width: 30px;
  height: 30px;
}

.nav--logo_text{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 22px;
}

.nav--title{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;
  color: #DEEBF8;
  font-weight: 600;
}

.mainP1{
  background-color: #282D35;
  padding: 57px 27px;
  height: 100%;
  background-image: url("./images/react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right;
}

.main--content-title{
  margin: 0rem;
  color: white;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--content-list{
  color: white;
  margin-top: 46px;
  max-width: 400px;
}

.main--content-list li{
  line-height: 19px;
  padding-block: 10px;
}

.main--content-list li::marker{
  font-size: 1.4rem;
  color: #5fd9f9;;
}