* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #0b2434;
  padding: 30px 20px;
}

body * {
  margin: 0;
}

main {
  border-radius: 10px;
  background-color: #f5f5f5;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo{
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 4vw;
  letter-spacing: -3px;
  margin-top: 1vw;
  color: #2B283A;
}

.instrucciones{
  margin: 0vw 1vw;
  margin-bottom: 4vw;
  font-size: 2.2vw;
  text-align: center;
}

.numeros {
  display: grid;
  grid-template-columns: repeat(5, 8vw);
  align-items: center;
  grid-gap: 4vw;
  align-content: center;
  justify-items: center;
}

.dado-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw; /* Establece el ancho deseado */
  height: 8vw; /* Establece la altura deseada */
}

.dado-grilla {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr); 
  gap: 4px; 
  align-items: center;
  justify-items: center;
}


.punto {
  width: 2.4vw;
  height: 2.4vw;
  border-radius: 50%;
  margin: 2px 0px;
}


.dado--activo{
  background-color: #0b2434;
  
}

.dado--inactivo{
  background-color: transparent;  
}

.numeros--numero {
  display: flex;
  width: 8vw;
  height: 8vw;
  border-radius: 1vw;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 4vw;
  cursor: pointer;
}


.botonMezclar {
  height: 7vw;
  margin-top: 3.7vw;
  margin-bottom: 1.5vw;
  background-color: #5035ff;
  color: #ffffff;
  border-radius: 1vw;
  border: none;
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 4vw;
  cursor: pointer;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
}

.botonMezclar:focus{
    outline: none;
}

.botonMezclar:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.indicadores{
  display: flex;
  gap: 2rem;
  font-size: 1.5vw;
  flex-wrap: wrap;
}