.navbarHost {
  background-color: #fff7ed;
  display: flex;
  align-items: center;
  padding-left: 26px;
  grid-gap: 29px;
  padding-top: 32.38px;
  padding-bottom: 45px;
}

.navbarHost--link {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.9px;
}

.navbarHost--link:hover,
.navbarHostVan--link:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.hostSelected {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.hostVans * {
  margin: 0;
}

.hostVans {
  background-color: #fff7ed;
  padding: 0px 26px;
  padding-bottom: 66px;
}

.hostVans--title {
  padding-bottom: 32px;
  line-height: 33.7px;
}

.hostVans--van {
  margin-bottom: 15px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.hostVans--van-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 0px;
  padding-left: 24px;
  text-decoration: none;
  width: 100%;
}

.hostVans--van-image {
  width: 65.88px;
  height: 65.88px;
  border-radius: 5px;
}

.hostVans--van-details {
  margin-left: 17px;
}

.hostVans--van-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 31.7px;
  color: #161616;
}

.hostVans--van-price {
  color: #4d4d4d;
  line-height: 31.7px;
}

.hostVan {
  background-color: #fff7ed;
  padding: 0px 26px;
  padding-bottom: 45px;
}

.hostVan--container {
  background-color: #ffffff;
  border-radius: 6px;
  padding-left: 25px;
  padding-bottom: 26px;
  padding-right: 27.5px;
}

.hostVan--basicData {
  display: flex;
}

.hostVan--image {
  margin-top: 24px;
  border-radius: 5px;
  width: 160.15px;
  height: 157.9px;
}

.hostVan--basicData-details {
  margin-left: 19.97px;
}

.hostVan--type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 27.59px;
  width: 69.8px;
  border-radius: 5px;
  font-size: 13.03px;
  font-weight: 600;
  line-height: 25.8px;
  color: #ffead0;
  margin-top: 47px;
}

.hostVan--name,
.hostVan--price {
  margin: 0;
}

.hostVan--name {
  margin-top: 16.37px;
  color: #161616;
  line-height: 27.4px;
  font-size: 26.06px;
}

.hostVan--price {
  margin-top: 1.4px;
  color: #161616;
  line-height: 36px;
  font-size: 19.54px;
}

.hostVan--price-complement {
  font-size: 16.29px;
  font-weight: 500;
}

.hostVan--extraData-title {
  font-weight: 700;
  font-size: 14.35px;
  line-height: 21.5px;
  margin-top: 0px;
  color: #161616;
}

.hostVan--extraData-data {
  font-weight: 500;
}

.navbarHostVan {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  grid-gap: 21.53px;
  padding-top: 26.92px;
  padding-bottom: 27.34px;
}

.navbarHostVan--link {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 16.15px;
  font-weight: 500;
  line-height: 20.6px;
}

.tabSelected {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.hostVan--pricingData-price {
  margin-top: 17px;
  margin-bottom: 21px;
  line-height: 21.5px;
  font-weight: 500;
}

.hostVan--price-complement {
  color: #4d4d4d;
  font-size: 16px;
}

.hostVan--photosData-image {
  border-radius: 5px;
  width: 103px;
  height: 101.56px;
  margin-top: 1.66px;
  margin-bottom: 0.79px;
}
